<!-- views/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') -%>
</head>
<body class="container">

<header>
    <%- include('partials/header') -%>
</header>

<main>
    <div class="jumbotron">
        <h1>About</h1>
        <p>Why make this??</p>
    </div>
    <div class="table-container">
        <p>Long story short; because can.</p>
        <p>While there were other tools on the internet that allow this sort of functionality, few were providing all of the data I needed in one place.</p>
    </div>
</main>

<footer>
    <%- include('partials/footer') -%>
</footer>

</body>
</html>